#comment-content.comment-content{
    padding: 0 12px;
}

#btn-save.btn-save{
    margin-top: 10px;
}

.comments-box{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}